APP_URL = "http://localhost:3000"
PORT= 3000
NODE_ENV=  "development"
MONGODB_URI="mongodb://localhost:27017/course"
SESSION_SECRET = ''
ACCESS_TOKEN_SECRET=''
REFRESH_TOKEN_SECRET=""
ACCESS_EXPIRE_TIME='15m'
REFRESH_EXPIRE_TIME='1d'
MAILTRAP_USER='26b2b8cc5bb706'
MAILTRAP_PASS='1b7a01b9060c90'
SENDER_EMAIL='ziyad199523@gmail.com'
REDIS_URL=redis://localhost:6379